// DARK MODE VARIABLES
$text-color-dark: #f1f0f0;
$background-dark: #011e32;

// LIGHT MODE VARIABLES
$text-color-light: #7f7f7f;
$text-color-light-darker: #2c2c2c;
$background-light: #ffffff;

// OTHERS
$navbar-font-size: 16px;
$navbar-font-big-size: 18px;