// DARK MODE VARIABLES
$text-color-dark: #ececec;
$background-dark: #18232d;
$background-dark-footer: #131c21;
$background-dark-collapse-nav: #00304f;

// LIGHT MODE VARIABLES
$text-color-light: #7f7f7f;
$text-color-light-darker: #2c2c2c;
$background-light: #fdfbf9;
$background-light-footer: #f4f1ee;
$background-light-collapse-nav: #ffffff;

// OTHERS
$navbar-font-size: 14px;
$navbar-font-big-size: 16px;
$active-text-size: 30px;
$text-size: 16px;
$yellow-color: #fe6e30;
$pink-color: #ce4f62;
$all-anim-transition: 0.5s ease-in